body {
  width: 100%;
}

@font-face {
  font-family: "NJ Naruto";
  src: url("../fonts/njnaruto.ttf");
  font-weight: bold;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.jumbotron {
  width: 100%;
}

.centered {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  color: #fff;
  font-family: "NJ Naruto";
}

.orange-teal-bannerOne {
  height: 60px;
  background-color: #ff8c00;
  width: 100%;
  position: relative;
}
.orange-teal-bannerTwo {
  height: 60px;
  background-color: #ff8c00;
  width: 100%;
  top: -1;
}
